// Import

/** VARIABLES **/
/** custom breakpoint **/
$break-desktop: 1280px;
$break-mobile: 480px;

/** colors **/
$orange: #f26f1f;
$dark-orange: #e76012;
$darker-orange: #ca4f08;
$white: #fff;
$orange-invert: $white;
$light-gray: #e6e6e6;
$lighter-gray: #f5f5f5;
$dark-gray: #ccc;
$grey-darker: $dark-gray;
$medium-gray: #b3b3b3;
$light-black: #4d4d4d;
$lighter-black: #808080;
$dark-black: #262626;
$dark-black2: #323232;
$black: #000;

/** shadows **/
$default-shadow: 0 12px 24px 0 $light-gray;
$default-dark-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.07);
