/** Core style w/ override some bulma props **/

// stylelint-disable 
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-height: 100%;

  @media screen and (max-width: $break-mobile) {
    -webkit-overflow-scrolling: touch;
  }
}

// temporany 
img {
  height: 80px;
  width: 80px;
}
